
! FONTS
Xft.antialias: 1
Xft.hinting: 1
Xft.hintstyle: hintslight
Xft.rgba: greyscale
Xft.lcdfilter: lcddefault

! XTerm settings
XTerm.vt100.bellIsUrgent:       true
XTerm.vt100.metaSendsEscape:    true
XTerm.vt100.selectToClipboard:  true
XTerm.font.linedrawing:         true
XTerm.vt100.locale:		        false
XTerm.vt100.utf8:		        true
XTerm*font:                     -xos4-terminus-medium-r-normal--12-120-72-72-c-60-iso10646-1
XTerm*font1:                    -xos4-terminus-medium-r-normal--12-120-72-72-c-60-iso10646-1

XTerm*VT100.Translations: #override \
    Shift <KeyPress> Insert: insert-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
    Ctrl <Btn1Up>: exec-formatted("xdg-open '%t'", PRIMARY)

XTerm.termName:                 xterm-256color
! XTerm.vt100.font: 10x20

! special
*.foreground:   @@applications.xorg.foreground@@
*.background:   @@applications.xorg.background@@
*.cursorColor:  @@applications.xorg.cursor@@

*.color0:       @@applications.xorg.colors.0@@
*.color1:       @@applications.xorg.colors.1@@
*.color2:       @@applications.xorg.colors.2@@
*.color3:       @@applications.xorg.colors.3@@
*.color4:       @@applications.xorg.colors.4@@
*.color5:       @@applications.xorg.colors.5@@
*.color6:       @@applications.xorg.colors.6@@
*.color7:       @@applications.xorg.colors.7@@
*.color8:       @@applications.xorg.colors.8@@
*.color9:       @@applications.xorg.colors.9@@
*.color10:      @@applications.xorg.colors.10@@
*.color11:      @@applications.xorg.colors.11@@
*.color12:      @@applications.xorg.colors.12@@
*.color13:      @@applications.xorg.colors.13@@
*.color14:      @@applications.xorg.colors.14@@
*.color15:      @@applications.xorg.colors.15@@
